[% WRAPPER wrapper.tt2  %]
<h1>Ircxory</h1>
[% INCLUDE pair.tt2
   title='By Score' 
     left_title = 'Ten Best Things' 
       left = top_ten
     right_title = 'Ten Worst Things'  
     right = bottom_ten 
%]

<p>Want to voice your own opinion?  Connect to irc.perl.org and join
#perl.  From there, just talk normally and ircxory will learn what you think!
</p>

[% END %]
