[% WRAPPER wrapper.tt2  %]
[% PROCESS thing_macros.tt2 %]
[% INCLUDE pair.tt2
   title='By Score' 
     left_title = 'Ten Best Things' 
       left = list_things(top_ten,c.uri_for('/things'))
     right_title = 'Ten Worst Things'  
       right = list_things(bottom_ten,c.uri_for('/things'))
%]

<p>Want to voice your own opinion?  Connect to irc.perl.org and join
[% channels | html %].  From there, just talk normally and ircxory
will learn what you think!  </p>

[% END %]
