<div class="pair clearfix">
  <h2>[% title | html %]</h2>
  <div class="box left">
    <h3>[% left_title | html %]</h3>
    [% left %]
  </div>
  <div class="box right">
    <h3>[% right_title | html %]</h3>
    [% right %]
  </div>
  <br class="clear" />
</div>
